@model Categories

@{
    ViewBag.Title = "Sterge";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Sterge</h2>
<hr />
<ol class="breadcrumb">
    <li>
        <a asp-action="home" asp-controller="Dashboard">Dashboard</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Index">Categorii</a>
    </li>
    <li class="active">Sterge</li>
</ol>

<h3>Esti sigur ca vrei sa-l stergi?</h3>
<div>
    <h4>Categorie</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            Nume Categorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)<br />
        </dd>

        <dt>
            Descriere
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)<br />
        </dd>

    </dl>
    <form asp-controller="Categories" asp-action="Delete" asp-antiforgery="true">
        <div class="form-actions no-color">
            <a asp-controller="Categories" asp-action="Index" class="btn btn-default">Inapoi</a>
            @Html.ActionLink("Inapoi", "Index", "Categories", new { @class = "btn btn-default" })
            <input type="submit" value="Sterge" class="btn btn-default" /> 
            
        </div>
    }
    </form>
</div>
