@{
    ViewBag.Title = "Full Width Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Full Width Page
                <small>For Deeper Customization</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Full Width Page</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                <h1 class="pad">Avantajele magazinului online</h1>
                 <img src="~/images/alt1fundal.png" />
        </div>
    </div>
</div>