@{
    ViewBag.Title = "Full Width Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Avantajele magazinului online
               
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Avantaje</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                <
                 <img src="~/images/alt1fundal.png" />
        </div>
    </div>
</div>