@{
    ViewBag.Title = "Sidebar Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
              



                <li>
                    <a href="#">Magazin online<span class="glyphicon glyphicon-chevron-right"></span> </a>
                    
                  
                </li>
                <li>
                    <a href="#">Servicii si tarife   <span class="glyphicon glyphicon-chevron-right"></span></a>
                </li>
                <li>
                    <a href="#">Asistenta    <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </li>
           
        
       
        </div>
    </div>
    <!-- /.row -->
</div>