@{
    ViewBag.Title = "Services";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Servicii
                <small>Ce Oferim</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/servicii/mobiledata.jpg" class="img-responsive">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Reparatii in doar 5 zile.</h2>
            <p>Cu Service-ul nostru nu rămâi fără telefon atunci când al tău nu mai funcţionează. Îl reparăm în medie în 5 zile într-un centru de service modern, iar în acest timp primeşti un alt telefon (în limita stocului disponibil) pe care să îl foloseşti până îl recuperezi pe al tău.</p>
        </div>
        <div class="col-md-4">
            <h2 class="page-header">Avantaje</h2>
            <p>Repară-ţi telefonul la noi şi ai următoarele avantaje:</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Click Me!</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Avantaje</h4>
                        </div>
                        <div class="modal-body">
                            <p>~ Recuperezi telefonul în medie în 5 zile lucrătoare de la intrarea acestuia în service</p>
                            <p>~ Primeşti un telefon la schimb pe perioada reparaţiei</p>
                            <p>~ Ai la dispoziţie cea mai mare reţea de colectare a telefoanelor</p>
                            <p>~ Beneficiezi de expertiza unor tehnicieni specializaţi care lucrează într-un centru de service modern, cu echipamente profesionale</p>
                            <p>~ Ai garanţie pentru intervenţiile efectuate asupra telefonului tău</p>
                            <p>~ Poţi verifica online care este starea telefonului tău. Trebuie doar să introduci seria IMEI a acestuia, menţionată în procesul verbal de predare-primire a telefonului în service şi numărul de telefon</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </button>
                            <p>Need <a href="#">help?</a></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- /.row -->
            <!-- Service Tabs -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Principalele servicii oferite</h2>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#service-one">SMS şi MMS</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#service-two">VOX Mesagerie Vocala</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#service-three">Apeluri voce</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#service-four">Service Four</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#service-five">Service Five</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="service-one" class="tab-pane fade in active">
                            <i class="fa fa-gear pull-left fa-4x"></i>
                            <p>Prin SMS trimiţi mesaje scrise de maximum 160 de caractere la un singur tarif către orice reţea naţională. Mesajele multimedia (MMS) îți permit să trimiți si să primesti mesaje text de până la 1000 de caractere, imagini si fisiere audio. Un MMS trimis către o rețea națională te costă 0,179E (TVA inclus).</p>
                            <p>Orice SMS trimis către un număr din România se taxează la fel. Diferit se taxează doar SMS-urile către numere internaţionale. Primirea unui SMS, indiferent de ţara de provenienţă, este gratuită.</p>
                        </div>
                        <div id="service-two" class="tab-pane fade">
                            <i class="fa fa-gears pull-left fa-4x"></i>
                            <p>VOX redirecţionează apelurile pe care le primeşti către căsuţa vocală când nu poţi răspunde, vorbeşti cu altcineva, ai telefonul închis sau eşti în afara ariei de acoperire.Îţi poţi personaliza căsuţa vocală cu un mesaj de întâmpinare şi alege un cod secret pentru a te asigura că ea nu va fi accesată decât de tine. Nu eşti taxat pentru niciuna dintre redirecţionările apelurilor pierdute către căsuţa vocală.</p>
                            <p>Nu trebuie să plăteşti o taxă pentru redirecţionarea apelurilor, aceasta este gratuită atât în ţară, cât şi în străinătate. Ascultarea mesajelor e şi ea gratuită.</p>
                        </div>
                        <div id="service-three" class="tab-pane fade">
                            <i class="fa fa-magic pull-left fa-4x"></i>
                            <p><b>Poţi să redirecționezi către un număr programat:</b></p>
                            <p>-apelurile nepreluate (CFNRy – Call Forward when no Reply);</p>
                            <p>-apelurile primite când ai telefonul închis sau când eşti în afara ariei de acoperire (CFNRc – Call Forward when Not Reachable);</p>
                            <p>-apelurile primite în timpul unei convorbiri (CFB – Call Forward when Busy).</p>
                            <p>-toate apelurile primite şi să nu mai primeşti vreun apel pe mobil (CFU – Call Forward Unconditional)</p>
                            <p><b>Apel in asteptare:</b></p>
                             <p>Presupune activarea serviciului din meniul telefonului când vorbeşti şi ai alt apel în aşteptare.Dacă nu doreşti să răspunzi, ignoră apelul în aşteptare şi continuă convorbirea;
                             Dacă doreşti să răspunzi, apasă tasta "YES" sau "OK". Poţi interschimba apelurile, punându-le în aşteptare. </p>
                            <p><b>Pentru a iniţia o teleconferinţă:</b></p>
                            <p>Apelează prima persoană;</p>
                            <p>Pune primul apel în aşteptare;</p>
                            <p>Apelează o a doua persoană;</p>
                            <p>Repetă procesul invitând alte persoane în discuţie (maximum 5).</p>
                            <p>Convorbirile din cadrul conferinţei se tarifează conform tipului de abonament pe care îl deţii.</p>
                        </div>
                        <div id="service-four" class="tab-pane fade">
                            <i class="fa fa-flask pull-left fa-4x"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                        </div>
                        <div id="service-five" class="tab-pane fade">
                            <i class="fa fa-flag pull-left fa-4x"></i>
                            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Service Images -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Service Images</h2>
                </div>
                <div class="col-sm-4">
                    <img src="http://placehold.it/750x450" class="img-responsive">
                    <h3>Service One</h3>
                    <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-sm-4">
                    <img src="http://placehold.it/750x450" class="img-responsive">
                    <h3>Service Two</h3>
                    <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-sm-4">
                    <img src="http://placehold.it/750x450" class="img-responsive">
                    <h3>Service Three</h3>
                    <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <!-- /.row -->
        </div>