@{
    ViewBag.Title = "SearchEngine";
}
<script src="../../Scripts/jquery-1.7.1.js"></script>
<script src="../../Scripts/jquery-ui-1.8.20.js"></script>
<script src="../../Scripts/SearchAutoComplete.js"></script>
<h2>Search Engine</h2>

Search: <input type="text" id="searchTextBox" />

<div id="selectedResult" />
