@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model System.Collections.Generic.List<System.String>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item, "Index", "Product", new { category = item }, null)
        </li>
    }

</ul>


