@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style=" background-image: url('../../images/Home/imgad.png'); "></div>
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../../images/Home/k.png');"></div>
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../../images/Home/phones.png'); "></div>
            <div class="carousel-caption">
                <h1>
                    
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Telefoane mobile</h3>
                <p>Acest site se adresează celor care doresc să-şi schimbe telefonul şi sunt nehotărâţi în privinţa alegerii acestuia. Piaţa telefoanelor mobile este într-o continuă schimbare, de aceea noi va oferim cele mai noi produse apărute, atât smartphone-uri cât şi telefoane clasice. </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> SmartWatch si Gadgeturi</h3>
                <p>Gadgeturi sunt întotdeauna concepute mai neobișnuit sau mai ingenios decât alte obiecte tehnologice la momentul invenției lor, de aceea venim în întâmpinarea dumneavoastră cu cele mai căutate şi folosite gadgeturi de pe piaţă.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Accesorii</h3>
                <p>
                    Cea mai variată gama de accesorii şi componente pentru telefoane mobile le găsiţi la noi. Aruncaţi doar o privire pe site-ul nostru şi veţi găsi ceea ce căutaţi fără a depune nici un pic de efort.
                </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="home col-lg-12">
                <h2>NORTHWIND PHONE </h2>
                <p>Northwind Phone - unul dintre cele mai mari magazine online cu capital integral românesc care activează pe piaţa IT din România</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container" >

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Branduri de top</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">               
                     <img class="img-responsive img-home-portfolio"src="~/images/Home/AppleLogo.png" />
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">                                  
                    <img class="img-responsive img-home-portfolio" src="~/images/Home/Nokia.gif" />
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive img-home-portfolio" src="~/images/Home/logo-sony.jpg" />   
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive img-home-portfolio" src="~/images/Home/samsung.jpg" /> 
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive img-home-portfolio" src="~/images/Home/huawei.jpg" /> 
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive img-home-portfolio" src="~/images/Home/asus.png" />
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="home col-lg-6 col-md-6 col-sm-6">
                <h2>NORTHWIND PHONE vă oferă:</h2>
                <ul>
                    <li>Telefoane clasice</li>
                    <li>Smartphone-uri</li>
                    <li>Accesorii pentru telefoane</li>
                    <li>Gadgeturi</li>
                    <li>eBook Readers</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/Images/Home/ebooks.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/images/Home/footer_logo.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Condiţii de livrare:</h2>
                <ul>
                    <li>Livrare în 24 de ore în Bucureşti.</li>
                    <li>Livrare în 3 zile în ţară.</li>
                    <li>Taxa de transport este de 20 lei. </li>
                    <li>Pentru comenzi mai mari de 200 lei transportul este gratuit.</li>
                    <li>Se va livra în zilele lucratore între orele 8:00 şi 18:00. </li>
                    <li>Livrarea în timpul week-end-ului se realizează contra unei taxe de 20 lei.</li>
                    <li>În cazul returului, clientul va plăti taxa de transport.</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>FAN COURIER:Firma cu care am ales sa colaboram!</h4>
            <p>Toată lumea doreşte că produsele comandate să ajungă în siguranţă şi la timp, de aceea compania noastră a decis să colaboreze cu cei buni din domeniu:FAN Courier care este lider pe piaţă din 2006.</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="https://www.fancourier.ro/">Fan Courier</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->