@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        
        <img src="~/images/logo-white.png"height="750" width="450" class="img-responsive"/>
    </div>
    <div class="col-md-6">
        <h2>Bine ati venit la StudioPhone Silver !</h2>
        <p>StudioPhone Silver este unul dintre cele mai mari magazine online cu capital integral romanesc care activeaza pe piata IT din Romania.
Inca de la inceput, din anul 2017, am avut parte de o crestere dinamica si am contribuit la consolidarea comertului online printr-o gama variata de produse la cel mai bun pret si o experienta de cumparare simpla, rapida si placuta.</p>
        <p>Avem peste 70 de produse si permanent negociem cu producatorii cele mai bune preturi, obtinem promotii si reduceri substantiale care ne ajuta sa satisfacem preferintele celor care apeleaza la noi.
Cautam sa atingem excelenta printr-o atitudine deschisa, responsabila, adaptata nevoilor clientilor nostri.</p>
    </div>
</div>
<!-- Team Member Profiles -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Afla cine
suntem!</h2>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class"tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
</div>
<!-- Parteneri -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Parteneri</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
</div>
</div>