
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Cos de Cumparaturi</h2><hr />

    <table id="ShopCartTable" class="cell-border hover order-column">
        <thead>
            <tr>
                <th>
                    Nume Produs
                </th>
                <th>
                    Cantitate
                </th>
                <th>
                    Pret unitar
                </th>
                <th>
                    Pret total
                </th>
            </tr>
        </thead>
        
    </table>

</div>
