@model IEnumerable<NorthwindWeb.Models.Shippers>

@{
    ViewBag.Title = "Expeditori";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Expeditori</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>

    <li class="active">Expeditori</li>
</ol>
<hr />
<br />
<div>
    @Html.ActionLink("Adauga Expeditor", "Create", null, new { @class = "btn btn-default" })
    <br /><br />
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    Expeditori
                </h4>
            </div>
            <div class="panel-body">
                <table id="ShippersTable" class="cell-border hover order-column">

                    <thead>
                        <tr>
                            <th>
                                Nume Companie
                            </th>
                            <th>
                                Telefon
                            </th>
                            <th>
                                Sterge
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

