@{
    ViewBag.Title = "Reports";
}
@model List<NorthwindWeb.ViewModels.ReportViewModel>
<div class="row flex">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-stacked nav-pills">
            @foreach (var report in Model)
            {
                <li>
                    <a  href=@report.Link target="reps">@(report.Filename)</a>
                </li>
            }
        </ul>
    </div>

    <div class="col-xs-9 sidebar">
        <iframe name="reps" class="fill" onclick="window.open(this.location.href)"></iframe>
    </div>
</div>
