body {
    font-family: Tahoma;
}

.contentcenter {
    margin-left: auto;
    margin-right: auto;
}

img[class~=products] {
    max-width: 100%;
    max-height:225px;
}

.price {
    color: #df691a;
    font-size: large;
    font-weight: bold;
}

.shopcartcontainer {
    position:absolute;
    padding: 20px 25px 0px 20px;
    right:0px;
}

.shopcartcontainer-products {
    position: absolute;
    padding: 20px 25px 0px 20px;
    left:0px;
}

[class~=glyphicon-shopping-cart] {
    font-size: 25px;
    padding: 5px 5px 5px 5px;
}

[class~=roundedshop] {
    background-color: rgb(223, 105, 26);
    padding: 0px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

.shopcart-container-text {
    position: absolute;
    margin-top: -12px;
    width: 35px;
    text-align: right;
    float: left;
}

#shopcart-productcount {
    font-size: 10px;
    border: 1px #2b3e50 solid;
    border-radius: 5px;
    background-color: rgba(16, 117, 24, 0.6);
    width: auto;
    margin: 0px;
    padding: 0px 2px 0px 2px;
}

.home {
    color: #2b3e50;
}

h3.prodpad{
    padding-left:40px;
}

a:hover {
    text-decoration: none;
}
