body {
    font-family: Tahoma;
}
.contentcenter {
    margin-left:auto;
    margin-right:auto;
}
img[class~=products]{
    max-height:450px;
    max-width:750px;
}
.price {
    color: #df691a;
    font-size:large;
    font-weight:bold;
}
[class~=glyphicon-shopping-cart] {
    font-size: 25px;
    padding:5px 5px 5px 5px;
}
[class~=roundedshop] {
    background-color: rgba(195, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

.home {
    color: #2b3e50;
}