
@{
    ViewBag.Title = "Teste";
}
@using ReportViewerForMvc
<h2>Teste</h2>
@{
    int i = 0;

    foreach (var report in ViewBag.reports as List<Microsoft.Reporting.WebForms.ReportViewer>)
    {
        i++;
        @Html.ReportViewer(report);
        if (i == 2)
        {
            break;
        }
    }
}