@model List<NorthwindWeb.Models.Products>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Produse";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.category))
{
    <h2>
        <a href=@Url.Action("Index", "Product")>Produse</a> / @ViewBag.category
    </h2>
}
else
{
    <h2>Produse</h2>
}


<br />

<br />
<div>
    <button class="btn btn-default crudFormButtonLeftOfSearch">@Html.ActionLink("Adauga Produs", "Create", null, htmlAttributes: new { style = "text-decoration: none;color:black;" })</button>
    <form action="/Product/Index">
        <div class="input-group cssencapsulate paddingLeftTen">
            <input type="text" name="search" class="form-control searchinput" style="width:auto" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<br />

<table id="MyTable" class="table dtr-inline">
    <thead>
        <tr>
            <th>
                Nume Produs
            </th>
            <th>
                Pret
            </th>
            <th>
                In Stoc
            </th>
            <th>
                Pe Comezi
            </th>
            <th>
                Stoc limita
            </th>
            <th>
                Indisponibil
            </th>
            <th>
                Sterge
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>