@model NorthwindWeb.Models.Region

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <h2>Sterge</h2>

    <h3>Sigur doresti sa stergi?</h3>
    <div>
        <h4>Regiune</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RegionDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegionDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sterge" class="btn btn-default" /> |
                @Html.ActionLink("Inapoi la lista", "Index")
            </div>
        }
    </div>
</div>