@model IEnumerable<NorthwindWeb.Models.Region>

@{
    ViewBag.Title = "Regiuni";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
    <h2>Regiuni</h2>
        <hr />
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Home", "Dashboard")
            </li>

            <li class="active">Regiuni</li>
        </ol>
        <hr />
        <div>
            @Html.ActionLink("Adauga Regiuni", "Create", null, new { @class = "btn btn-default" })
            <br /><br />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            Regiuni
                        </h4>
                    </div>
                    <div class="panel-body">
                        <table id="RegionsTable" class="cell-border hover order-column">
                            <thead>
                                <tr>
                                    <th>
                                        Regiune
                                    </th>
                                    <th>
                                        Sterge
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                         
                            </tbody>
</table>
                    </div>
                </div>
            </div>
        </div>
    

             

